<!doctype html>
<html lang="en">
  <head>
    {% include "_metadata.html" %}
    <link rel="stylesheet" href="public/styles/home.css" />
  </head>
  <body>
    {% include "_navbar.html" %}

    <div class="main-container">
      {% for meme in memes %}
      <div class="meme-container">
        <img class="meme" src="{{ meme.image_url }}" alt="memelibre" loading="lazy" />
        <div>
          <button class="btn-like" data-meme-id="{{ meme.id }}">👍 Like</button>
          <button>⭐ Favorite</button>
          <button>🔗 Share</button>
          <button>💬 Comment</button>
        </div>
      </div>
      {% endfor %}

      <div class="pagination">
        {% if prev_cursor %}
            <a href="/?before={{ prev_cursor }}">Previous Page</a>
        {% endif %}

        {% if memes | length == 100 and next_cursor %}
            <a href="/?after={{ next_cursor }}">Next Page</a>
        {% endif %}
      </div>

    </div>
  </body>

    <script>
      document.querySelectorAll(".btn-like").forEach(button => {
          button.addEventListener("click", async (event) => {
            const memeId = button.dataset.memeId;
            try {
              const response = await fetch(`/likes/${memeId}`, {
                method: "POST",
                credentials: "include",
              });

              if (response.ok) {
                button.textContent = "👎 Unliked";
              }
            } catch {}
          });
        });
    </script>
</html>

