{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/public/styles/meme.css" />
{% endblock head %}

{% block body %}
    {% include "_navbar.html" %} 
    {% include "_notification.html" %} 

    {% if meme %}
        <div class="meme-container">
            <img class="meme" src="{{ meme.image_url }}" alt="memelibre" />
            <button onclick="sharePage()">🔗 Share</button>
        </div>
    {% else %}
        <p>Meme not found.</p>
    {% endif %}

  <script>
  function sharePage() {
    const notificationContainer = document.getElementById("notification-container");
    const notification = document.getElementById("notification");

    if (navigator.share) {
      navigator.share({
        title: document.title,
        text: 'Check this out!',
        url: window.location.href,
      }).catch(() => {});
    } else {
      navigator.clipboard.writeText(window.location.href)
        .then(() => {
          notificationContainer.style.display = "block";
          notification.textContent = "Link copied to clipboard!";

          setTimeout(() => {
          notificationContainer.style.display = "none";
          }, 3000);
        })
        .catch(err => {
          notificationContainer.style.display = "block";
          notification.textContent = "Failed to copy link.";

          setTimeout(() => {
          notificationContainer.style.display = "none";
          }, 3000);

          console.error("Clipboard error:", err);
        });
    }
  }
</script>
{% endblock body %}
