#notification-container {
  background-color: var(--highlight-bg);
  border-radius: var(--border-radius);
  color: var(--text-primary);
  padding: var(--spacing-small);
  position: fixed;
  right: var(--spacing-base);
  top: var(--spacing-base);
  z-index: 10;
}
