{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/public/styles/home.css" />
{% endblock head %}

{% block body %}
    {% include "_navbar.html" %}
    {% include "_notification.html" %}
    {% if memes %}
        {{ memes | safe }}
    {% else %}
        <h1>404</h1>
        <p>NO HAY MEMES.</p>
    {% endif %}

    <script>
      async function loadMoreMemes(lastId) {
      const notificationContainer = document.getElementById(
        "notification-container",
      );
      const notification = document.getElementById("notification");
      notificationContainer.style.display = "block";
      notification.textContent = "Cargando...";

      try {
        const response = await fetch(`/load_more/${lastId}`);
        const html = await response.text();
        document.body.insertAdjacentHTML("beforeend", html);
        notificationContainer.style.display = "none";
        notification.textContent = "";
      } catch {
        notification.textContent = "Something went wrong.";
        setTimeout(() => {
          notificationContainer.style.display = "none";
          notification.textContent = "";
        }, 3000);
      }
    }

    function handleInfiniteScroll() {
      const endOfPage =
        window.innerHeight + window.scrollY >= document.body.offsetHeight;
      if (endOfPage) {
        const memes = document.querySelectorAll(".meme-container");
        const lastMeme = memes[memes.length - 1];
        const lastId = lastMeme?.querySelector("button")?.dataset.id;
        if (lastId) loadMoreMemes(lastId);
      }
    }
    window.addEventListener("scroll", handleInfiniteScroll);
    </script>
{% endblock body %}
